nav {
    grid-area: nav;
    background: var(--void);
    border-right: 3px solid var(--galaxy-core);
    box-shadow: 4px 0 15px rgba(16, 0, 43, 0.8);
    display: flex;
    position: fixed;
    padding: 0.5rem;
    top: 0;
    left: 0;
    height: 100vh;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    width: 15%;

}

nav .nav-shortcuts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 1.5rem;
    padding: 2rem;
    padding-right: 2.5rem;

}

.nav-shortcuts i {
    font-size: 2.2rem;
    transition: transform 0.3s ease;
    color: var(--cyber-lavender);
    cursor: pointer;
}

.nav-shortcuts i:hover {
    transform: scale(1.15);
    filter: drop-shadow(3px -3px 0px var(--hologram));
    color: #69247C;
    cursor: pointer;
}

.nav-shortcuts a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-shortcuts a::after {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: var(--void);
    color: var(--hologram);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    border: 1px solid var(--cyber-lavender);
    box-shadow: 3px 3px 10px rgba(16, 0, 43, 0.5);
    z-index: 1000;
}

.nav-shortcuts a::before {
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent var(--void);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1001;
}

.nav-shortcuts a:hover::after,
.nav-shortcuts a:hover::before {
    opacity: 1;
    left: 110%;
}


.nav-shortcuts a.link-home::after {
    content: "Home";
}

.nav-shortcuts a.link-profile::after {
    content: "Profile";
}

.nav-shortcuts a.link-playlist::after {
    content: "Playlists";
}

.nav-shortcuts a.link-songs::after {
    content: "Songs";
}

.nav-shortcuts a.link-authors::after {
    content: "Authors";
}

.nav-shortcuts a#logoutBtn::after {
    content: "Logout";
}


@media (max-width: 1024px) {
    nav{
      width: 23%;
    }
}

@media (max-width: 768px) {
    nav {
      position: relative;
      height: auto;
      width: 97%;
      flex-direction: row;
      justify-content: space-around;
      border-right: 0px solid var(--galaxy-core);
      box-shadow: 0px 0 0px rgba(16, 0, 43, 0.8);
  
  
    }
    nav .nav-shortcuts {
      flex-direction: row;
      width: auto;
    }
}
  
@media (max-width: 480px) {


    nav img {
        width: 30px;
        height: 30px;
    }
}