<div class="filter" id="allFiltersContainer">
    <button id="genreToggle">Filtrar por géneros</button>
    <div id="genreFilters">
        <span class="close-filter" data-filter="genreFilters">&times;</span>
        <div class="checkbox-container"></div>
    </div>

    <button id="dateToggle">Filtrar por fecha</button>
    <div id="dateFilters">
        <span class="close-filter" data-filter="dateFilters">&times;</span>
        <input type="text" id="dateInput" placeholder="YYYY">
    </div>

    <button id="artistToggle">Filtrar por artista</button>
    <div id="artistFilters">
        <span class="close-filter" data-filter="artistFilters">&times;</span>
        <div class="artist-checkbox-container"></div>
    </div>
</div>