<div class="container">
    <app-nav></app-nav>
    <app-header></app-header>

    <main>
        <div id="pagination">
        </div>
      
        <div id="musicResults">
          <div *ngFor="let song of songs" class="song-container">
            <div class="song-details">
              <div class="img-container">
                <img [src]="song.artworkUrl100" [alt]="song.trackName" [attr.data-trackid]="song.trackId" />
              </div>
              <div class="song-info">
                <h3>{{ song.artistName }}</h3>
                <p><strong>Canción</strong> {{ song.trackName }}</p>
                <p><strong>Género</strong> {{ song.primaryGenreName }}</p>
                <p><strong>Álbum</strong> {{ song.collectionName }}</p>
                <p *ngIf="song.releaseDate">
                  <strong>Lanzamiento</strong>
                  {{ song.releaseDate | date: 'yyyy-MM-dd' }}
                </p>
                <!-- Aquí puedes añadir rating si lo tienes -->
              </div>
            </div>
          </div>
        </div>
      </main>
  
    <app-aside></app-aside>


    <!-- Modal -->
    <div id="songModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modalSongDetails"></div>
            <div class="rating-comments-section">
                <h3>Valoraciones y Comentarios</h3>
                <div id="modalRatings"></div>
                <div id="modalComments"></div>
                <div class="comment-input">
                    <input type="text" id="newComment" placeholder="Escribe tu comentario...">
                    <button id="submitComment">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>