/* Estilos globales */
* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
      "nav header header"
      "nav main aside";
  height: 100vh;
}

